@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

:root{
  --nav-text:'Open Sans', sans-serif;
  --other-text:'Acme', sans-serif;
}


*,*::after,*::before{
  padding: 0;
  margin:0;
  box-sizing:border-box;

}

.header_top{
  background-color: #e8e4e1;
  color: #45046a;
  position: relative;
  font-family: var(--other-text);
}
.header_top p{
  margin: 0.2rem;
}
nav{
  font-family: var(--nav-text);
}
.nav_bg{
  background-color:#5c2a9d;
  box-shadow: 0 0 10px 2px rgba(0,0,0,1);
  position: sticky;
  top: 0;
  z-index: 1024;
}
.navbar .navbar-brand{
  font-weight: bold;
  font-size: 2rem;
  color: #fff!important;
}
.navbar .navbar-brand  .nav_icon{
  font-size: 4rem;
  font-weight: bold;
  color: #FF00FF;
  animation:rotate 1s alternate-reverse infinite;
}
@keyframes rotate{
  0%{
    transform: rotate(10deg) scale(0.7);
  }
  100%{
    transform: rotate(-10deg) scale(1);
  }
}
.navbar .navbar-nav .nav-link{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: #fff!important;
}
.navbar .navbar-toggler{
  border:none;
  outline: none;
  font-weight: bold!important;
}
@media(max-width:786px){
  .navbar .navbar-brand  .nav_icon{
    display: none;
  }
}
.home{
  font-family: var(--other-text);
}
.home .first{
  margin-top:12rem;
}
.home .banner_img img{
  animation:updown 1.5s alternate infinite;
}
.home .card_icon{
  font-size: 6rem;
  color: #ff5722;

}
.home .card .html5{
  color: #ff5722;
}
.home .card{
  border: 1px solid #848ccf;
  margin: 1rem 0;
}
.home .card:hover{
  background-color: #ffc1fa;
  box-shadow: 0 0 10px 2px #000 ;
}
@keyframes updown{
  0%{
    transform:translateY(5px);
  }
  100%{
    transform:translateY(-5px);
  }
}
@media (max-width:786px){
  .home .first{
    margin-top:5rem;
    margin-bottom: 3rem;
  }
}
.login,.signup,.forgetpass{
  font-family: var(--other-text);
}
.html{
  font-family: var(--other-text);
}
.html li {
  margin-top:1.2rem;
}
.css{
  font-family: var(--other-text);
}
.footer{
  background-color: #000;
  color: white;
  width: 100%;
  height: 10vh;
  font-family: var(--other-text);
  margin-top: 5rem;
}
[data-aos="rotate-ac"] {
  transform: rotate(-180deg);
  transition-property: transform;
}

[data-aos="rotate-ac"].aos-animate {
  transform: rotate(0deg);
}
[data-aos="rotate-c"] {
  transform: rotate(180deg);
  transition-property: transform;
}

[data-aos="rotate-c"].aos-animate {
  transform: rotate(0deg);
}
.bootstrap5 .bt{
  background-color: #7952b3;
  border-color:  #7952b3;
  padding: 0.7rem 1.2rem;
  font-weight: bold;
  color: #fff;
}
.bootstrap5 .bt:hover{
  background-color:#6f42c1;
}
.bootstrap5 img{
  background:transparent;
}
.bootstrap5 .bg{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #5cb85c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bootstrap5 .bg3{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bootstrap5 .bg4{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #6f42c1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bootstrap5 .bg1{
  background-color: #f6f5f5;
  padding: 3rem;
  border-radius: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 10px 2px #000; 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4301; 
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.javascript{
  font-family:var(--other-text);
}